**Progetto: Analisi dei Clienti di una Banca.**

Obbiettivi consegna:

età;

numero di transazioni in uscita su tutti i conti;

numero di transazioni in entrata su tutti i conti;

importo transato in uscita su tutti i conti;

importo transato in entrata su tutti i conti;

numero totale di conti posseduti;

numero di conti posseduti per tipologia (un indicatore per tipo);

numero di transazioni in uscita per tipologia (un indicatore per tipo);

numero di transazioni in entrata per tipologia (un indicatore per tipo);

importo transato in uscita per tipologia di conto (un indicatore per tipo);

importo transato in entrata per tipologia di conto (un indicatore per tipo).

*Età.*

Creazione di una tabella temporanea composta dalla differenza tra l'anno della data odierna e l'anno del valore nel campo "data_nascita" per ottenere l'età.

La "data_nascita" viene formattata in maniera tale da assicurare l'ordine richiesto dalla funzione year().

La select dell'id_cliente verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.età as
select id_cliente,
year(current_date()) - year(date_format(data_nascita, "%Y-%m-%d")) as età
from banca.cliente;

*Numero di transazioni in uscita su tutti i conti.*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al tipo di transazione desiderata (in questo caso in uscita) valorizzandoli come 1 se ritorna True, per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.n_transazioni_uscita as
select conto.id_cliente,
sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then 1 else 0 end) as n_transazioni_uscita
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Numero di transazioni in entrata su tutti i conti.*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al tipo di transazione desiderata (in questo caso in entrata) valorizzandoli come 1 se ritorna True, per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.n_transazioni_entrata as
select conto.id_cliente,
sum(case when id_tipo_trans in (0, 1, 2) then 1 else 0 end) as n_transazioni_entrata
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Importo transato in uscita su tutti i conti.*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al tipo di transazione desiderata (in questo caso in uscita) valorizzandoli come l'importo stesso se ritorna True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.importo_uscita as
select conto.id_cliente,
sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then importo else 0 end) as importo_uscita
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Importo transato in entrata su tutti i conti.*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al tipo di transazione desiderata (in questo caso in entrata) valorizzandoli come l'importo stesso se ritorna True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.importo_entrata as
select conto.id_cliente,
sum(case when id_tipo_trans in (0, 1, 2) then importo else 0 end) as importo_entrata
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1

*Numero totale di conti posseduti.*

Creazione di una tabella temporanea composta dal conteggio di tutti record associati al campo dell'id_cliente.

In [ ]:
create temporary table banca.totale_conti as
select id_cliente,
count(*) as numero_conti
from banca.conto
group by 1;

*Numero di conti posseduti per tipologia (un indicatore per tipo).*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al campo desiderato (in questo caso tipo di conto) valorizzandoli come 1 se ritorna True altrimenti 0 (False), per poi sommarli.

La select dell'id_cliente verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.conti_tipo as
select id_cliente,
sum(case when id_tipo_conto = 0 then 1 else 0 end) as conto_base,
sum(case when id_tipo_conto = 1 then 1 else 0 end) as conto_business,
sum(case when id_tipo_conto = 2 then 1 else 0 end) as conto_privati,
sum(case when id_tipo_conto = 3 then 1 else 0 end) as conto_famiglie
from banca.conto
group by 1;

*Numero di transazioni in uscita per tipologia (un indicatore per tipo).*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al campo desiderato (in questo caso tipo transazione in uscita) valorizzandoli come 1 se ritorna True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.transazioni_uscita_tipo as
select conto.id_cliente,
sum(case when id_tipo_trans = 3 then 1 else 0 end) as acquisto_amazon_uscita,
sum(case when id_tipo_trans = 4 then 1 else 0 end) as rata_mutuo_uscita,
sum(case when id_tipo_trans = 5 then 1 else 0 end) as hotel_uscita,
sum(case when id_tipo_trans = 6 then 1 else 0 end) as biglietto_aereo_uscita,
sum(case when id_tipo_trans = 7 then 1 else 0 end) as supermercato_uscita
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Numero di transazioni in entrata per tipologia (un indicatore per tipo).*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al campo desiderato (in questo caso "tipo transazione" in entrata) valorizzandoli come 1 se ritorna True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.transazioni_entrata_tipo as
select conto.id_cliente,
sum(case when id_tipo_trans = 0 then 1 else 0 end) as stupendio_entrata,
sum(case when id_tipo_trans = 1 then 1 else 0 end) as pensione_entrata,
sum(case when id_tipo_trans = 2 then 1 else 0 end) as dividendi_entrata
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Importo transato in uscita per tipologia di conto (un indicatore per tipo).*

Creazione di una tabella temporanea composta da una maschera booleana che verifica i record corrispondenti al campo desiderato (in questo caso "tipo conto") e utilizzo del connettore logico "and" per verificare un ulteriore condizione per un differente campo (in questo caso importo minore di zero) valorizzandolo come l'importo stesso se entrambi ritornano True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.importo_uscita_tipo as
select conto.id_cliente,
sum(case when id_tipo_conto = 0 and importo < 0 then importo else 0 end) as importo_conto_base_uscita,
sum(case when id_tipo_conto = 1 and importo < 0 then importo else 0 end) as importo_conto_business_uscita,
sum(case when id_tipo_conto = 2 and importo < 0 then importo else 0 end) as importo_conto_privati_uscita,
sum(case when id_tipo_conto = 3 and importo < 0 then importo else 0 end) as importo_conto_famiglie_uscita
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

*Importo transato in entrata per tipologia di conto (un indicatore per tipo).*

Creazione di una tabella temporanea composta da una maschera booleana che verifica il record corrispondenti al campo desiderato (in questo caso "tipo conto") e utilizzo del connettore logico "and" per verificare un ulteriore condizione per un differente campo (in questo caso importo maggiore di zero) valorizzandolo come l'importo stesso se entrambi ritornano True altrimenti 0 (False), per poi sommarli.

Viene eseguita una join tra due tabella per ottenere anche il campo dell'id_cliente che verrà usato come chiave di join finale.

In [ ]:
create temporary table banca.importo_entrata_tipo as
select conto.id_cliente,
sum(case when id_tipo_conto = 0 and importo > 0 then importo else 0 end) as importo_conto_base_entrata,
sum(case when id_tipo_conto = 1 and importo > 0 then importo else 0 end) as importo_conto_business_entrata,
sum(case when id_tipo_conto = 2 and importo > 0 then importo else 0 end) as importo_conto_privati_entrata,
sum(case when id_tipo_conto = 3 and importo > 0 then importo else 0 end) as importo_conto_famiglie_entrata
from banca.transazioni trans
join banca.conto conto on trans.id_conto = conto.id_conto
group by 1;

Query finale che opera una left join basata sull'id_cliente della tabella "clienti" come chiave di join, con i rispettivi id_clienti delle tabelle temporanee create precedentemente creando ogni campo con il medesimo nome.

In [ ]:
select
cli.id_cliente,
età.età as età,
n_trans_uscita.n_transazioni_uscita as n_transazioni_uscita,
n_trans_entrata.n_transazioni_entrata as n_transazioni_entrata,
importo_uscita.importo_uscita as importo_uscita,
importo_entrata.importo_entrata as importo_entrata,
numero_conti.numero_conti as numero_conti,

conti_tipo.conto_base as conto_base,
conti_tipo.conto_business as conto_business,
conti_tipo.conto_privati as conto_privati,
conti_tipo.conto_famiglie as conto_famiglie,

trans_uscita_tipo.acquisto_amazon_uscita as acquisto_amazon_uscita,
trans_uscita_tipo.rata_mutuo_uscita as rata_mutuo_uscita,
trans_uscita_tipo.hotel_uscita as hotel_uscita,
trans_uscita_tipo.biglietto_aereo_uscita as biglietto_aereo_uscita,
trans_uscita_tipo.supermercato_uscita as supermercato_uscita,

trans_entrata_tipo.stupendio_entrata as stupendio_entrata,
trans_entrata_tipo.pensione_entrata as pensione_entrata,
trans_entrata_tipo.dividendi_entrata as dividendi_entrata,

importo_uscita_tipo.importo_conto_base_uscita as importo_conto_base_uscita,
importo_uscita_tipo.importo_conto_business_uscita as importo_conto_business_uscita,
importo_uscita_tipo.importo_conto_privati_uscita as importo_conto_privati_uscita,
importo_uscita_tipo.importo_conto_famiglie_uscita as importo_conto_famiglie_uscita,
importo_entrata_tipo.importo_conto_base_entrata as importo_conto_base_entrata,
importo_entrata_tipo.importo_conto_business_entrata as importo_conto_business_entrata,
importo_entrata_tipo.importo_conto_privati_entrata as importo_conto_privati_entrata,
importo_entrata_tipo.importo_conto_famiglie_entrata as importo_conto_famiglie_entrata

from banca.cliente cli
left join banca.età età on età.id_cliente = cli.id_cliente
left join banca.n_transazioni_uscita n_trans_uscita on n_trans_uscita.id_cliente = cli.id_cliente
left join banca.n_transazioni_entrata n_trans_entrata on n_trans_entrata.id_cliente = cli.id_cliente
left join banca.importo_uscita importo_uscita on importo_uscita.id_cliente = cli.id_cliente
left join banca.importo_entrata importo_entrata on importo_entrata.id_cliente = cli.id_cliente
left join banca.totale_conti numero_conti on numero_conti.id_cliente = cli.id_cliente
left join banca.conti_tipo conti_tipo on conti_tipo.id_cliente = cli.id_cliente
left join banca.transazioni_uscita_tipo trans_uscita_tipo on trans_uscita_tipo.id_cliente = cli.id_cliente
left join banca.transazioni_entrata_tipo trans_entrata_tipo on trans_entrata_tipo.id_cliente = cli.id_cliente
left join banca.importo_uscita_tipo importo_uscita_tipo on importo_uscita_tipo.id_cliente = cli.id_cliente
left join banca.importo_entrata_tipo importo_entrata_tipo on importo_entrata_tipo.id_cliente = cli.id_cliente;

**Soluzione alternativa.**

Di seguito lo svolgimento degli stessi obbiettivi, ma con la creazione della tabella "report" e successivi update basati sulla view.

In [ ]:
create table banca.report as
select id_cliente from banca.cliente;
alter table banca.report
add column età integer,
add column n_transazioni_uscita integer,
add column n_transazioni_entrata integer,
add column importo_uscita float,
add column importo_entrata float,
add column numero_conti integer,
add column conto_base integer,
add column conto_business integer,
add column conto_privati integer,
add column conto_famiglie integer,
add column stupendio_entrata integer,
add column pensione_entrata integer,
add column dividendi_entrata integer,
add column acquisto_amazon_uscita integer,
add column rata_mutuo_uscita integer,
add column hotel_uscita integer,
add column biglietto_aereo_uscita integer,
add column supermercato_uscita integer,
add column importo_conto_base_uscita float,
add column importo_conto_business_uscita float,
add column importo_conto_privati_uscita float,
add column importo_conto_famiglie_uscita float,
add column importo_conto_base_entrata float,
add column importo_conto_business_entrata float,
add column importo_conto_privati_entrata float,
add column importo_conto_famiglie_entrata float;

update banca.report as rep
inner join banca.cliente as cli on rep.id_cliente = cli.id_cliente
set rep.età = year(current_date()) - year(date_format(cli.data_nascita, "%Y-%m-%d"));

create view banca.trans_temp as
select
trans.id_tipo_trans, trans.id_conto, trans.importo, cont.id_cliente, cont.id_tipo_conto from banca.transazioni as trans
inner join banca.conto as cont on trans.id_conto = cont.id_conto;

update banca.report as rep
inner join (select id_cliente,
			sum(case when id_tipo_conto = 0 then 1 else 0 end) as conto_base,
			sum(case when id_tipo_conto = 1 then 1 else 0 end) as conto_business,
			sum(case when id_tipo_conto = 2 then 1 else 0 end) as conto_privati,
			sum(case when id_tipo_conto = 3 then 1 else 0 end) as conto_famiglie,

      count(*) as numero_conti

			from banca.conto
			group by 1
) as conti on rep.id_cliente = conti.id_cliente
set rep.conto_base = conti.conto_base,
	rep.conto_business = conti.conto_business,
	rep.conto_privati = conti.conto_privati,
	rep.conto_famiglie = conti.conto_famiglie,

  rep.numero_conti = conti.numero_conti;


update banca.report as rep
inner join (select id_cliente,

            sum(case when id_tipo_conto = 0 and importo < 0 then importo else 0 end) as importo_conto_base_uscita,
            sum(case when id_tipo_conto = 1 and importo < 0 then importo else 0 end) as importo_conto_business_uscita,
            sum(case when id_tipo_conto = 2 and importo < 0 then importo else 0 end) as importo_conto_privati_uscita,
            sum(case when id_tipo_conto = 3 and importo < 0 then importo else 0 end) as importo_conto_famiglie_uscita,
            sum(case when id_tipo_conto = 0 and importo > 0 then importo else 0 end) as importo_conto_base_entrata,
			      sum(case when id_tipo_conto = 1 and importo > 0 then importo else 0 end) as importo_conto_business_entrata,
			      sum(case when id_tipo_conto = 2 and importo > 0 then importo else 0 end) as importo_conto_privati_entrata,
			      sum(case when id_tipo_conto = 3 and importo > 0 then importo else 0 end) as importo_conto_famiglie_entrata,

            sum(case when id_tipo_trans = 0 then 1 else 0 end) as stupendio_entrata,
			      sum(case when id_tipo_trans = 1 then 1 else 0 end) as pensione_entrata,
			      sum(case when id_tipo_trans = 2 then 1 else 0 end) as dividendi_entrata,
			      sum(case when id_tipo_trans = 3 then 1 else 0 end) as acquisto_amazon_uscita,
            sum(case when id_tipo_trans = 4 then 1 else 0 end) as rata_mutuo_uscita,
            sum(case when id_tipo_trans = 5 then 1 else 0 end) as hotel_uscita,
            sum(case when id_tipo_trans = 6 then 1 else 0 end) as biglietto_aereo_uscita,
            sum(case when id_tipo_trans = 7 then 1 else 0 end) as supermercato_uscita,

            sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then importo else 0 end) as importo_uscita,
			      sum(case when id_tipo_trans in (0, 1, 2) then importo else 0 end) as importo_entrata,

            sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then 1 else 0 end) as n_transazioni_uscita,
			      sum(case when id_tipo_trans in (0, 1, 2) then 1 else 0 end) as n_transazioni_entrata


			from banca.trans_temp
			group by 1
) as importo_conto on rep.id_cliente = importo_conto.id_cliente
set rep.importo_conto_base_uscita = importo_conto.importo_conto_base_uscita,
	  rep.importo_conto_business_uscita = importo_conto.importo_conto_business_uscita,
	  rep.importo_conto_privati_uscita = importo_conto.importo_conto_privati_uscita,
    rep.importo_conto_famiglie_uscita = importo_conto.importo_conto_famiglie_uscita,
	  rep.importo_conto_base_entrata = importo_conto.importo_conto_base_entrata,
	  rep.importo_conto_business_entrata = importo_conto.importo_conto_business_entrata,
	  rep.importo_conto_privati_entrata = importo_conto.importo_conto_privati_entrata,
	  rep.importo_conto_famiglie_entrata = importo_conto.importo_conto_famiglie_entrata,

    rep.stupendio_entrata = importo_conto.stupendio_entrata,
	  rep.pensione_entrata = importo_conto.pensione_entrata,
	  rep.dividendi_entrata = importo_conto.dividendi_entrata,
	  rep.acquisto_amazon_uscita = importo_conto.acquisto_amazon_uscita,
 	  rep.rata_mutuo_uscita = importo_conto.rata_mutuo_uscita,
  	rep.hotel_uscita = importo_conto.hotel_uscita,
 	  rep.biglietto_aereo_uscita = importo_conto.biglietto_aereo_uscita,
	  rep.supermercato_uscita = importo_conto.supermercato_uscita,

    rep.importo_uscita = importo_conto.importo_uscita,
    rep.importo_entrata = importo_conto.importo_entrata,

    rep.n_transazioni_uscita = importo_conto.n_transazioni_uscita,
	  rep.n_transazioni_entrata = importo_conto.n_transazioni_entrata;

Creazione tabella "report", la tabella finale che conterrà tutti gli obbiettivi di consegna. La tabella viene creata partendo dal campo id_cliente della tabella cliente.

In [ ]:
create table banca.report as
select id_cliente from banca.cliente;

La tabella "report" viene modificata aggiungendo tanti campi quanti sono gli obbiettivi di consegna ognuno dei quali con il tipo di dato adeguato.

In [ ]:
alter table banca.report
add column età integer,
add column n_transazioni_uscita integer,
add column n_transazioni_entrata integer,
add column importo_uscita float,
add column importo_entrata float,
add column numero_conti integer,
add column conto_base integer,
add column conto_business integer,
add column conto_privati integer,
add column conto_famiglie integer,
add column stupendio_entrata integer,
add column pensione_entrata integer,
add column dividendi_entrata integer,
add column acquisto_amazon_uscita integer,
add column rata_mutuo_uscita integer,
add column hotel_uscita integer,
add column biglietto_aereo_uscita integer,
add column supermercato_uscita integer,
add column importo_conto_base_uscita float,
add column importo_conto_business_uscita float,
add column importo_conto_privati_uscita float,
add column importo_conto_famiglie_uscita float,
add column importo_conto_base_entrata float,
add column importo_conto_business_entrata float,
add column importo_conto_privati_entrata float,
add column importo_conto_famiglie_entrata float;

**Obbiettivo: Età.**

La tabella "report" viene aggiornata con la keyword "update" e successivamente viene unita consedarando i record di entrambe le tabella con un "inner join" alla manipolazione sulla tabella cliente, tramite la chiave "id_cliente".

La manipolazione prevede la differenza tra l'anno della data odierna e l'anno del valore nel campo "data_nascita" per ottenere l'età.

La "data_nascita" viene formattata in maniera tale da assicurare l'ordine richiesto dalla funzione year().

Infine tramite la keyword "set" vengono aggiornati i record (precedentemente null) del campo della tabella "report".

In [ ]:
update banca.report as rep
inner join banca.cliente as cli on rep.id_cliente = cli.id_cliente
set rep.età = year(current_date()) - year(date_format(cli.data_nascita, "%Y-%m-%d"));

Creazione di una view basata su due tabelle, con i campi d'interesse per le manipolazioni successive.

In [ ]:
create view banca.trans_temp as
select
trans.id_tipo_trans, trans.id_conto, trans.importo, cont.id_cliente, cont.id_tipo_conto from banca.transazioni as trans
inner join banca.conto as cont on trans.id_conto = cont.id_conto;

**Obbiettivi:**

numero di conti posseduti per tipologia (un indicatore per tipo);

numero totale di conti posseduti.

La tabella "report" viene aggiornata con la keyword "update" e successivamente viene unita consedarando i record di entrambe le tabella con un "inner join" alla manipolazione sulla tabella "conto", tramite la chiave "id_cliente".


La manipolazione prevede l'utilizzo di una maschera booleana per filtrare i record in base ai diversi valori del campo "id_tipo_conto" ai quali viene assegnato il valore "1" se coerente con il valore in esame (True) altrimenti 0(False), per poi esegurie la somma e ottenere la frequenza dei conti divisi per tipologia.


Successivamente vegnono sommati tutti i record del campo "numero_conti" per ottenere il totale dei conti per id_cliente.

E' sensato svolgere questi obbiettivi nello stesso update perchè si basano sulla stessa tabella ("conto").

Infine tramite la keyword "set" vengono aggiornati i record (precedentemente null) del campo della tabella "report".

In [ ]:
update banca.report as rep
inner join (select id_cliente,
			sum(case when id_tipo_conto = 0 then 1 else 0 end) as conto_base,
			sum(case when id_tipo_conto = 1 then 1 else 0 end) as conto_business,
			sum(case when id_tipo_conto = 2 then 1 else 0 end) as conto_privati,
			sum(case when id_tipo_conto = 3 then 1 else 0 end) as conto_famiglie,

      count(*) as numero_conti

			from banca.conto
			group by 1
) as conti on rep.id_cliente = conti.id_cliente
set rep.conto_base = conti.conto_base,
	rep.conto_business = conti.conto_business,
	rep.conto_privati = conti.conto_privati,
	rep.conto_famiglie = conti.conto_famiglie,

  rep.numero_conti = conti.numero_conti;

Obbiettivi:

numero di transazioni in uscita su tutti i conti;

numero di transazioni in entrata su tutti i conti;

importo transato in uscita su tutti i conti;

importo transato in entrata su tutti i conti;

numero di transazioni in uscita per tipologia (un indicatore per tipo);

numero di transazioni in entrata per tipologia (un indicatore per tipo);

importo transato in uscita per tipologia di conto (un indicatore per tipo);

importo transato in entrata per tipologia di conto (un indicatore per tipo).

La tabella "report" viene aggiornata con la keyword "update" e successivamente viene unita consedarando i record di entrambe le tabella con un "inner join" alla manipolazione sulla view "trans_temp", tramite la chiave "id_cliente".

La prima manipolazione prevede l'utilizzo di una maschera booleana per filtrare i record in base ai diversi valori del campo "id_tipo_conto" e al connettore logico "and" potendo cosi dividere i record in base al tipo di conto e all'importo se positivo (> di 0) o negativo (< di 0), sommando quest'ultimo e popolando il campo adeguato.

La seconda manipolazione prevede l'utilizzo di una maschera booleana per filtrare i record in base ai diversi valori del campo "id_tipo_trans" ai quali veiene assegnato il valore "1" se cooerente con il valore d'interesse, per poi effettuare la somma e ottenere il numero di transazioni divise per campi.

La terza e la quarta manipolazione seguno la medesima logica con la differenza che verificano se "id_tipo_trans" sia presente nella tupla che contiene le categorie del tipo di transazioni, nel caso torni True, somma l'importo per il campo importo oppure assegna il valore "1" e "0" ed esegie la somma per ricavare la numerosità per i campi "transazioni_uscita/entrata".



Infine tramite la keyword "set" vengono aggiornati i record (precedentemente null) del campo della tabella "report".

In [ ]:
update banca.report as rep
inner join (select id_cliente,

            sum(case when id_tipo_conto = 0 and importo < 0 then importo else 0 end) as importo_conto_base_uscita,
            sum(case when id_tipo_conto = 1 and importo < 0 then importo else 0 end) as importo_conto_business_uscita,
            sum(case when id_tipo_conto = 2 and importo < 0 then importo else 0 end) as importo_conto_privati_uscita,
            sum(case when id_tipo_conto = 3 and importo < 0 then importo else 0 end) as importo_conto_famiglie_uscita,
            sum(case when id_tipo_conto = 0 and importo > 0 then importo else 0 end) as importo_conto_base_entrata,
			      sum(case when id_tipo_conto = 1 and importo > 0 then importo else 0 end) as importo_conto_business_entrata,
			      sum(case when id_tipo_conto = 2 and importo > 0 then importo else 0 end) as importo_conto_privati_entrata,
			      sum(case when id_tipo_conto = 3 and importo > 0 then importo else 0 end) as importo_conto_famiglie_entrata,

            sum(case when id_tipo_trans = 0 then 1 else 0 end) as stupendio_entrata,
			      sum(case when id_tipo_trans = 1 then 1 else 0 end) as pensione_entrata,
			      sum(case when id_tipo_trans = 2 then 1 else 0 end) as dividendi_entrata,
			      sum(case when id_tipo_trans = 3 then 1 else 0 end) as acquisto_amazon_uscita,
            sum(case when id_tipo_trans = 4 then 1 else 0 end) as rata_mutuo_uscita,
            sum(case when id_tipo_trans = 5 then 1 else 0 end) as hotel_uscita,
            sum(case when id_tipo_trans = 6 then 1 else 0 end) as biglietto_aereo_uscita,
            sum(case when id_tipo_trans = 7 then 1 else 0 end) as supermercato_uscita,

            sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then importo else 0 end) as importo_uscita,
			      sum(case when id_tipo_trans in (0, 1, 2) then importo else 0 end) as importo_entrata,

            sum(case when id_tipo_trans in (3, 4, 5, 6, 7) then 1 else 0 end) as n_transazioni_uscita,
			      sum(case when id_tipo_trans in (0, 1, 2) then 1 else 0 end) as n_transazioni_entrata


			from banca.trans_temp
			group by 1
) as importo_conto on rep.id_cliente = importo_conto.id_cliente
set rep.importo_conto_base_uscita = importo_conto.importo_conto_base_uscita,
	  rep.importo_conto_business_uscita = importo_conto.importo_conto_business_uscita,
	  rep.importo_conto_privati_uscita = importo_conto.importo_conto_privati_uscita,
    rep.importo_conto_famiglie_uscita = importo_conto.importo_conto_famiglie_uscita,
	  rep.importo_conto_base_entrata = importo_conto.importo_conto_base_entrata,
	  rep.importo_conto_business_entrata = importo_conto.importo_conto_business_entrata,
	  rep.importo_conto_privati_entrata = importo_conto.importo_conto_privati_entrata,
	  rep.importo_conto_famiglie_entrata = importo_conto.importo_conto_famiglie_entrata,

    rep.stupendio_entrata = importo_conto.stupendio_entrata,
	  rep.pensione_entrata = importo_conto.pensione_entrata,
	  rep.dividendi_entrata = importo_conto.dividendi_entrata,
	  rep.acquisto_amazon_uscita = importo_conto.acquisto_amazon_uscita,
 	  rep.rata_mutuo_uscita = importo_conto.rata_mutuo_uscita,
  	rep.hotel_uscita = importo_conto.hotel_uscita,
 	  rep.biglietto_aereo_uscita = importo_conto.biglietto_aereo_uscita,
	  rep.supermercato_uscita = importo_conto.supermercato_uscita,

    rep.importo_uscita = importo_conto.importo_uscita,
    rep.importo_entrata = importo_conto.importo_entrata,

    rep.n_transazioni_uscita = importo_conto.n_transazioni_uscita,
	  rep.n_transazioni_entrata = importo_conto.n_transazioni_entrata;